---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fEOhedFYcWvY4tEXvnWCrrvWlCVR5vn_zM9cXkbM1qPSjxrfwBPlDWjbAPAufQYpISy9lsp9s-ZKaWPShgTpXgSGFdFJ0SZIog-9wxV6O9R-gKynV8qe6VjOgyfxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 9e038b63b0d3cf98
      X-Routing-Service:
      - routing-main--useast1-5db947469f-5qd2b; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      Ratelimit-Remaining:
      - '4996'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-164-1-useast1bprod
      X-Extlb:
      - 10-65-164-1-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "6kRbrLNIZKZ1fcjgsTFobg", "alias": "fortune-wok-to-table-denver",
        "name": "Fortune Wok to Table", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/aVmP8cWwrCsLWWjwx8wvjg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fortune-wok-to-table-denver?adjust_creative=ZOC2t_Esd0vDGo-1pUQZcw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZOC2t_Esd0vDGo-1pUQZcw",
        "review_count": 370, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "dimsum", "title": "Dim Sum"}, {"alias": "shanghainese", "title":
        "Shanghainese"}], "rating": 4.5, "coordinates": {"latitude": 39.72124, "longitude":
        -104.9543}, "transactions": ["delivery"], "price": "$$", "location": {"address1":
        "2817 E 3rd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80206", "country": "US", "state": "CO", "display_address": ["2817 E 3rd Ave",
        "Denver, CO 80206"]}, "phone": "+13033217788", "display_phone": "(303) 321-7788",
        "distance": 2093.330545587293}, {"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias":
        "star-kitchen-denver", "name": "Star Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dkpPrRVdJXCUFl4GdCbZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=ZOC2t_Esd0vDGo-1pUQZcw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZOC2t_Esd0vDGo-1pUQZcw",
        "review_count": 1096, "categories": [{"alias": "dimsum", "title": "Dim Sum[...]
