---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=fake_ap_key&location=denver,co&outFormat%5B%5D=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 16:43:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=fake_ap_key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=854057629"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=fake_ap_key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=205453551"}]}]}'
  recorded_at: Mon, 08 Aug 2022 16:43:45 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=fake_ap_key&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659977025,"sunrise":1659960332,"sunset":1660010740,"temp":75.13,"feels_like":75.11,"pressure":1019,"humidity":59,"dew_point":59.83,"uvi":7.6,"clouds":3,"visibility":10000,"wind_speed":1.99,"wind_deg":322,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1659974400,"temp":75.04,"feels_like":74.91,"pressure":1019,"humidity":57,"dew_point":58.78,"uvi":5.14,"clouds":3,"visibility":10000,"wind_speed":2.35,"wind_deg":11,"wind_gust":1.32,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659978000,"temp":75.13,"feels_like":75.11,"pressure":1019,"humidity":59,"dew_point":59.83,"uvi":7.6,"clouds":3,"visibility":10000,"wind_speed":2.28,"wind_deg":42,"wind_gust":1.48,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659981600,"temp":76.23,"feels_like":76.14,"pressure":1018,"humidity":55,"dew_point":58.89,"uvi":9.47,"clouds":3,"visibility":10000,"wind_speed":3.85,"wind_deg":79,"wind_gust":3.6,"weather":[{"id":800,"main":"Cl[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fEOhedFYcWvY4tEXvnWCrrvWlCVR5vn_zM9cXkbM1qPSjxrfwBPlDWjbAPAufQYpISy9lsp9s-ZKaWPShgTpXgSGFdFJ0SZIog-9wxV6O9R-gKynV8qe6VjOgyfxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-canary--useast1-b99cf5bd6-rmkph; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4991'
      X-Zipkin-Id:
      - 3c4b1c259a192a6c
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-133-10-useast1bprod
      X-Extlb:
      - 10-65-133-10-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "6kRbrLNIZKZ1fcjgsTFobg", "alias": "fortune-wok-to-table-denver",
        "name": "Fortune Wok to Table", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/aVmP8cWwrCsLWWjwx8wvjg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fortune-wok-to-table-denver?adjust_creative=ZOC2t_Esd0vDGo-1pUQZcw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZOC2t_Esd0vDGo-1pUQZcw",
        "review_count": 370, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "dimsum", "title": "Dim Sum"}, {"alias": "shanghainese", "title":
        "Shanghainese"}], "rating": 4.5, "coordinates": {"latitude": 39.72124, "longitude":
        -104.9543}, "transactions": ["delivery"], "price": "$$", "location": {"address1":
        "2817 E 3rd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80206", "country": "US", "state": "CO", "display_address": ["2817 E 3rd Ave",
        "Denver, CO 80206"]}, "phone": "+13033217788", "display_phone": "(303) 321-7788",
        "distance": 2093.330545587293}, {"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias":
        "star-kitchen-denver", "name": "Star Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dkpPrRVdJXCUFl4GdCbZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=ZOC2t_Esd0vDGo-1pUQZcw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZOC2t_Esd0vDGo-1pUQZcw",
        "review_count": 1096, "categories": [{"alias": "dimsum", "title": "Dim Sum[...]
